.btn {
    background-color: rgb(5, 5, 73);
    font-size: 26px;
    color: whitesmoke;
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
}
#btn1{
    background-color: teal;
}
#btn2{
    background-color: rgb(212, 194, 29);
}
#btn3{
    background-color: rgb(173, 18, 134);
}
#btn4{
    background-color: rgb(243, 103, 22);
}
#btn5{
    background-color: rgb(212, 24, 24);
}
.aba{
    width: 100%;
    height:400px;
}
#aba1{
    background-color: teal;
}
#aba2{
    background-color: rgb(212, 194, 29);
}
#aba3{
    background-color: rgb(173, 18, 134);
}
#aba4{
    background-color: rgb(243, 103, 22);
}
#aba5{
    background-color: rgb(212, 24, 24);
}
.conteudo{
   text-align: center;
}

body{
    background-color: rgb(255, 255, 255);
}
.barra{
    width: 100%;
    height: 70px;
    text-align: center;
    background-color: rgb(54, 6, 54);
    color: white;
}
.tablet{
    display: none;
}
.desktop{
    display: none;
}
.mobile{
    font-size: 50px;
    color: whitesmoke;
}
@media (min-width:800px) {
    .btn{
     width: 19.7%;
     margin-top: 0%;
    }
   .barra{
    background: springgreen;
    height: 80px;
   }
   .conteudo{
    text-align: center;
 }
   .mobile{
    display: none;
   }
   .tablet{
    display: inline;
    color: black;
}

}
@media (min-width:1228px) {
    .btn{
        width: 100px;
        height: 50px;
        font-size: 20px;
        margin-top: 0%;
       }
    .barra{
     background:crimson ;
     height: 120px;
    }
    .conteudo{
        text-align: center
     }
    .tablet{
     display: none;
 }
    .desktop{
        display: inline;
        font-size: 100px;
    }
 }